<div class = "container">
  
      
    <h3>Record Exercise</h3>
    <p>Click on an available exercise to add it to the list of completed exercises.
        <br> If you don't see your exercise, enter it manually at the bottom of the page!
    </p>
    <div class ="row">
        <div class="col-md-6">
            <div class="card" >
                  <div class="card-header">
                      Available Exercises
                 </div>
                 <ul class="list-group list-group-flush" id="exercises">
                    <li *ngFor="let x of recorder.availableExercises; index as i" 
                            class="list-group-item"
                            (click)="submitExercise($event, x)">
                            {{x.text}}
                    </li>
                </ul>
            </div>
            <h5>Don't see your exercise? Enter it here.</h5>
            <div class="row">
                <input type="text" class="form-control" [(ngModel)]="ex" >
            
                <button type="button" class="btn btn-primary" (click)="submitExercise2($event, ex)">
                   Submit
               </button>
            </div>
            
      </div>

      <div class="col-md-6">
          <h6 *ngIf="editor">ARE YOU SURE? This will clear the log for everyone!!</h6>
          <div class="card" >  
                <div class="card-header">
                    Completed Exercises Log
                    <button class="btn btn-primary btn-sm" (click)="edit()">Clear Log</button>
                    <button class="btn btn-sm btn-danger" *ngIf="editor" (click)="deleteExercise($event)">Delete</button>
                    <button class="btn btn-sm btn-outline-primary" *ngIf="editor" (click)="done()">Done</button>
                </div>       
                <ul class="list-group list-group-flush" id="my-exercises">
                    <li *ngFor="let x of recorder.exercises; index as i" 
                        class="list-group-item d-flex justify-content-between align-items-center">
                            {{x.text}}
                        <span class="badge badge-info">{{x.user}}</span>
                    </li>
                </ul>
          </div>
      </div>   
</div>
