<div class = "container">
  <h3>Record Exercise</h3>
  <div class="row">
      <div class="col-md-6">
              <div class="card" >
                  <div class="card-header">
                      Available Exercises
                 </div>
                  <div class="card-body">
                      <ul class="list-group list-group-flush" id="exercises">
                      </ul>
                  </div>
              </div>
              <!--<a href="#" class="btn btn-primary" id="cmd-flip">Submit Exercise</a>-->
      </div>

      <div class="col-md-6">
          <div class="card" >  
                  <div class="card-header">
                          My Completed Exercises
                  </div>       
                  <ul class="list-group list-group-flush" id="my-exercises">
                          <li class="list-group-item" id="default-message">No Completed Exercises Yet!</li>
                  </ul>
          </div>
      </div>        
  </div>
</div>
