<div class = "container">
    <h3>Food Intake
        <button class="btn btn-primary btn-sm" (click)="edit()">Edit</button>
        <button class="btn btn-primary btn-sm" *ngIf="editor"(click)="done()">Done</button>
    </h3>
    <div class="row">
        <div class="col-md-10">
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                  <th scope="col">Food Name</th>
                  <th scope="col">Calories</th>
                  <th scope="col">Fat</th>
                  <th scope="col">Carbs</th>
                  <th scope="col">Protein</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td scope="row">Apple</td>
                  <td>15</td>
                  <td>15</td>
                  <td>15</td>
                  <td>15</td>
                  <td>10/24/17</td>
                  <td>9:15</td>
                  <span class="badge badge-info">Rachael Ray</span>
                  <button class="btn btn-outline-primary btn-sm" *ngIf="editor" >Delete</button>
              </tr>
             
              <tr *ngFor="let x of recorder.foods; index as i">
                  <td scope="row"  > {{ x.name }} </td>
                  <td> {{ x.calories }} </td>
                  <td> {{ x.fat }} </td>
                  <td> {{ x.carbs }} </td>
                  <td> {{ x.protein }} </td>
                  <td> {{ x.date }} </td>
                  <td> {{ x.time }} </td>
                  <span class="badge badge-info">{{x.user}}</span>
                  <button class="btn btn-outline-primary btn-sm" *ngIf="editor" (click)="delete(x)">Delete</button>
              </tr>

          </tbody>
        </table>
        

        <h3>Add New Food Entry</h3>
        <div class="row">
            <div class="col-md-3">
                <label>Food Name</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name"  >
            </div>  
            <div class="col-md-1">
                <label>Calories</label>
                <input type="text" class="form-control" [(ngModel)]="calories" name="calories" >
            </div>
            <div class="col-md-1">
                <label>Fat</label>
                <input type="text" class="form-control" [(ngModel)]="fat" name="fat" >
            </div>    
            <div class="col-md-1">
                <label>Carbs</label>
                <input type="text" class="form-control" [(ngModel)]="carbs" name="carbs" >
            </div>  
            <div class="col-md-1">
                <label>Protein</label>
                <input type="text" class="form-control" [(ngModel)]="protein" name="protein" >
            </div>   
            <div class="col-md-2">
                <label>Date</label>
                <input type="text" class="form-control" [(ngModel)]="date" name="date" >
            </div>   
            <div class="col-md-2">
                <label>Time</label>
                <input type="text" class="form-control" [(ngModel)]="time" name="time" >
            </div>
      
            <button type="button" class = "btn btn-primary" [disabled]="!allowNewFood" (click)="submitFood($event, name, calories, fat, carbs, protein, date, time)">
                Add Food
            </button>
        </div>
        </div>
    </div>
</div>