<div class = "container">
    <div class ="jumbotron">
        <h3>My Goals</h3>
        <p>Here you can keep track of your personal goals, as 
            well as view your friends' goals! It is the 
            perfect way to stay motivated and on track so 
            that you can succeed in your personal health!
        </p>
    </div>

    <div class="row">

        <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary" [disabled]="!allowNewGoal" (click)="createGoal()">
                Create New Goal
            </button>

            <div *ngIf="create">
                <label>Enter Goal</label>
                <input type="text" class="form-control" [(ngModel)]="goal" >

                <button type="button" class="btn btn-primary" [disabled]="!allowNewGoal" (click)="submitGoal($event, goal)">
                        Add Goal
                </button>
            </div>
        </div>

        <div clas="col-md-6">
            <h4>Goal List
                <button class="btn btn-primary btn-sm" (click)="edit()">Edit</button>
                <button class="btn btn-primary btn-sm" *ngIf="editor"(click)="done()">Done</button>
            </h4>
            <ul class="list-group list-group-flush" id="my-goals">
                <li>Jog for 15 min every day.
                    <span class="badge badge-info">Eli Manning</span>
                </li>
                <li *ngFor="let x of recorder.goals; index as i" 
                   class="list-group-item d-flex justify-content-between align-items-center">
                        {{ i+1 }}:   {{x.text}}
                    <span class="badge badge-info">{{x.user}}</span>
                    <button class="btn btn-outline-secondary btn-sm" *ngIf="editor" (click)="deleteGoal()">Delete</button>
                </li>
            </ul>
        </div>
    </div>

</div>