<div class = "container">
    <div class ="jumbotron">
        <h3>Get Down to Business and Track your Fitness!</h3>
        <p>Welcome to The Fitness Tracker.<br> Here you will be able to set your goals, track your progress, and achieve 
          amazing fitness success! <br>
          Join our community and stay up to date on not only your progress, but your friends too!
        </p>
    </div>

    <div class="row">
       <div class="col-md-4">
            <div class="card" >
                <img class="card-img-top" src="assets/img/weight.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Log In</h4>
                    <p class="card-text">Click here to begin your journey to success.</p>
                    <a routerLink="/login" class="btn btn-primary">Log In</a>
                </div>
             </div>
        </div>
        
        
        <div class="col-md-4">
              <div class="card" >
                  <img class="card-img-top" src="assets/img/plank.jpg" alt="Card image cap">
                  <div class="card-body">
                      <h4 class="card-title">About Us</h4>
                        <p class="card-text">Click here to learn more about The Fitness Tracker and the 
                                              services we provide.
                        </p>
                       <a routerLink="/about" class="btn btn-primary">Learn More</a>
                  </div>
              </div>
        </div>

       <div class="col-md-4">
            <div class="card" >
                <img class="card-img-top" src="assets/img/bike.jpg" alt="Card image cap">
                <div class="card-body">
                      <h4 class="card-title">Main</h4>
                      <p class="card-text">Already logged in? Go to your main page.</p>
                      <a routerLink="/signup" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>